.info {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  transition: all 0.3s linear;
}

.button {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  transition: box-shadow 0.2s ease-in-out;
}

:global(.dark) .button {
  border: 1px solid rgba(255, 255, 255, 0.12);
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
