.wikiimage {
  position: relative;
  border-radius: 2px;
  margin: 1rem;
  object-fit: contain;
  float: right;
  transition: all 0.2s ease-in-out;
  border: 1px solid hsl(var(--nextra-primary-hue) 100% 45%/0.15);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  transform-origin: center right;
  overflow: hidden;
}

.wikiimage:hover {
  transform: scale(2);
  z-index: 5;
}

.wikiimagesmall {
  position: relative;
  border-radius: 2px;
  margin: 1rem;
  object-fit: contain;
  width: auto;
  float: right;
  transition: all 0.2s ease-in-out;
  border: 1px solid transparent;
  transform-origin: center right;
  overflow: hidden;
}

.wikiimagesmall:hover {
  transform: scale(2);
  z-index: 5;
}

.wikidesc {
  position: absolute;
  font-size: smaller;
  width: 100%;
  bottom: 0;
  color: rgb(249, 250, 251);
  background-image: linear-gradient(
    0deg,
    rgb(17 17 17 / 90%) 0%,
    rgb(17 17 17 / 75%) 25%,
    rgb(17 17 17 / 10%) 90%,
    rgb(17 17 17 / 0%) 100%
  );
  padding: 0.2rem;
  text-align: center;
  text-shadow: 0 0 5px rgb(17 17 17);
  pointer-events: none;
}

.wikiimg {
  object-fit: contain;
  width: auto;
  max-width: 20vw;
  max-height: 30vh;
  min-width: max(150px,15vh);
}

.wikiimgsmall {
  object-fit: contain;
  width: auto;
  max-width: 10vw;
  max-height: 20vh;
  min-width: max(200px,10vh);
}
