.wikiimage {
    border-radius: 5px;
    margin: 1rem;
    max-height: 30vh;
    max-width: 20vw;
    object-fit: contain;
    width: auto;
    float: right;
    transition: all 0.2s ease-in-out; 
}

.wikiimage:hover{
    transform: scale(2);
}