.wikiimage {
  position: relative;
  border-radius: 5px;
  margin: 1rem;
  object-fit: contain;
  float: right;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 2px
    hsl(var(--nextra-primary-hue) 100% 45% / var(--tw-text-opacity));
  border: 1px solid hsl(var(--nextra-primary-hue) 100% 45%/0.65);
  transform-origin: center right;
  overflow: hidden;
}

.wikiimage:hover{
    transform: scale(2);
}

.wikiimagesmall {
  position: relative;
    border-radius: 5px;
    margin: 1rem;
    max-width: 10vw;
    max-height: 20vh;
    object-fit: contain;
    width: auto;
    float: right;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 2px hsl(var(--nextra-primary-hue)100% 45%/var(--tw-text-opacity));
    border: 1px solid hsl(var(--nextra-primary-hue)100% 45%/0.65);
    transform-origin: center right;
    overflow: hidden;
}

.wikiimagesmall:hover{
    transform: scale(2);
}

.wikidesc{
  position: absolute;
  font-size: smaller;
  width: 100%;
  bottom: 0;
  background: linear-gradient(0deg, rgb(0 0 0) 0%, rgb(0 0 0 / 0%) 100%);
  padding: 0.2rem;
  backdrop-filter: blur(5px);
  text-shadow: 0 0 5px black;
}

.wikiimg{
  object-fit: contain;
  width: auto;
  max-width: 20vw;
  max-height: 30vh;
  min-width: 20vh;
}

.wikiimgsmall{
  object-fit: contain;
  width: auto;
  max-width: 10vw;
  max-height: 20vh;
  min-width: 10vh;
}